ivi-application-client-protocol.h
ivi-application-protocol.c
ivi-application-server-protocol.h
ivi-hmi-controller-client-protocol.h
ivi-hmi-controller-protocol.c
ivi-hmi-controller-server-protocol.h
weston.ini
